# CLICKHOUSE - Ecosistema Tangara
# https://github.com/sebaxtian/clickhouse-tangara

CLICKHOUSE_HOST=clickhouse.sebaxtian.dev
CLICKHOUSE_PORT=443
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=tangara_plata
CLICKHOUSE_SECURE=True
CLICKHOUSE_TABLE=plata_tangara_sensores


TANGARA_SENSOR_NAMES=2FF6,F1AE,1712,307A


TANGARA_START_DATE=2026-07-01 00:00:00


# POSTGRESQL (Bronze / Silver / Gold)

POSTGRES_USER=ai_admin
POSTGRES_PASSWORD=ai_admin
POSTGRES_DB=ai_project


# Conection PostgreSQL Local
DATABASE_URL=

# Conection PostgreSQL Render
DATABASE_URL_RENDER=postgresql+psycopg2://admin:bluS2CCW9ux17mwR6f7x92mjacn8JKER@dpg-d9is09vavr4c73bcokm0-a.ohio-postgres.render.com/ai_project_4i6q
